#loginContainer {
    position: absolute;
    width: 500px;
    height: 400px;
    margin-left: -250px;
    margin-top: -200px;
    top: 50%;
    left: 50%;
    border: 1px solid #ccc;
    box-shadow: 1px 3px 18px 5px #ccc;
    background: #123f5a;
}
#loginContainer h1 {
    padding: 30px 0px;
}
#loginContainer strong{
    color: #85d1f7;
    font-style: italic;
}
#sideBar{
    width: 20%;
    height: 625px;
    background: #436e88;
    padding-top: 75px;
}
#userImage{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 9px auto;
    background: url('../assets/user.png');
    background-size: 100% 100%;
}
#userImage p{
    text-align: left;
    margin-left: 15px;
}
#postContainer{
    position: relative;
    width: 70%;
    height: 100px;
    margin: 80px 0px 40px 40px;

}
.postTxt{
    width: 100%;
    color: #000;
    border: 1px solid #c1c1c1;
    padding: 15px;
    text-align: left;
    margin-top: 15px;
}
.postTxt:hover{
    box-shadow: 0px 9px 16px 1px #c7c7c7;
    transition: 0.5s;
}
.clscaretContainer{
    position: relative;
    width: 10px;
    height: 20px;
    bottom: 118px;
    right: -32px;
} 
div.caret {
    position: relative;
    width: 3px;
    height: 3px;
    background: #545654;
    margin-top: 2px;
}
footer {
    position: fixed;
    bottom: 0px;
    background: burlywood;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
}
footer p{
    padding: 0px;
    margin: 0px;
    color: #000;
}