/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
    margin: 0 !important;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: #f1f3f1;
    color: #fff;
}
body {
    margin: 0;
    text-align: center;
}
label, input, button {
    position: relative;
    display: block;
    text-align: left;
    margin: 3px auto;
    width: 90%;
    padding: 6px;
    border: none;
}
button {
    background: #85d1f7;
    text-align: center;
    margin-top: 42px;
    font-size: 20px;
    font-weight: bolder;
}
button:hover{
    box-shadow: 2px 5px 5px;
    transition: 0.3s;
}
.clearFix{
    clear: both;
}
.fltLeft{
    float: left;
}
.fltRight{
    float: right
}
.txtcenter{
    text-align: center;
}
.inline{
    display: inline-block;
}
.curPointer{
    cursor: pointer;
}
#mainWrapper{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px auto;
    overflow-y: hidden;
    /* border: 1px solid black; */
}
header{
    position: fixed;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #000000;
    box-shadow: 5px 5px 5px 5px #959595;
    background: #123f5a;
    z-index: 1;
}
#headerWrapper div{
    margin: 0px 5px;
}

#userImg {
    position: relative;
    top: 6px;
    width: 32px;
    height: 32px;
    background: url('./assets/cmnSprite.png');
    background-position: -6px 0px;
}
#lgOutImg{
    position: relative;
    top: 6px;
    width: 32px;
    height: 32px;
    background: url('./assets/cmnSprite.png');
    background-position: -10px -39px;
}